<h1>Enter a new landmark</h1>

<form method="post" action="/landmarks">

<label for="landmark[name]">Landmark Name:<input type="text" name="landmark_name" id="landmark[name]"></label>
<label for="landmark[year_completed]">Landmark Name:<input type="text" name="landmark_year_completed" id="landmark[year_completed]"></label>

<input type="submit" value="Create New Landmark">

</form>